flows.json
[{"id":"fd0da101d6ae57aa","type":"tab","label":"Cam Doorbell","disabled":false,"info":"","env":[]},{"id":"74d0274a6be965e0","type":"server-state-changed","z":"fd0da101d6ae57aa","name":"Doorbell button","server":"b4fc3608.34f618","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.wicket_doorbell","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":200,"wires":[["fd5e19fd1489d54b"],[]]},{"id":"fd5e19fd1489d54b","type":"ha-api","z":"fd0da101d6ae57aa","name":"","server":"b4fc3608.34f618","version":1,"debugenabled":false,"protocol":"websocket","method":"get","path":"","data":"{\"type\":\"camera_thumbnail\",\"entity_id\":\"camera.doorbell_sd\"}","dataType":"json","responseType":"json","outputProperties":[{"property":"doorbell","propertyType":"msg","value":"","valueType":"results"}],"x":250,"y":280,"wires":[["3902b924fc91f020","71f13115040ea88e"]]},{"id":"111ece9671f4d76d","type":"inject","z":"fd0da101d6ae57aa","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":280,"wires":[["fd5e19fd1489d54b"]]},{"id":"e95e2b555cd19247","type":"http request","z":"fd0da101d6ae57aa","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"localhost:5001/test","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":730,"y":280,"wires":[["4f63c893d5f39120"]]},{"id":"512d65cc7eed6582","type":"function","z":"fd0da101d6ae57aa","name":"Set http request","func":"msg.payload = {\n    \"file\": {\n        \"value\": msg.payload,\n        \"options\": {\n            \"filename\": \"cam_snapshot.jpg\"\n        }\n    }\n}\n\n//files = {'file': msg.doorbell.content}\n\n//msg.payload = msg.doorbell.content\nmsg.headers = {};\nmsg.headers['content-type'] = \"multipart/form-data\";\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":280,"wires":[["e95e2b555cd19247"]]},{"id":"a6ee824eb2a173b2","type":"debug","z":"fd0da101d6ae57aa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":390,"y":340,"wires":[]},{"id":"4f63c893d5f39120","type":"switch","z":"fd0da101d6ae57aa","name":"","property":"payload.faces_list","propertyType":"msg","rules":[{"t":"empty"},{"t":"nempty"},{"t":"cont","v":"andrii","vt":"str"},{"t":"cont","v":"ira","vt":"str"},{"t":"cont","v":"misha","vt":"str"},{"t":"cont","v":"dima","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":150,"y":440,"wires":[["a6ee824eb2a173b2"],["3f7ebaa3607bafe6"],["73fed6d9b18d6585"],["dd297456a686f6d8"],["e2802bb0578e0567"],["2db862eb8c8bcd5b"]]},{"id":"3f7ebaa3607bafe6","type":"api-call-service","z":"fd0da101d6ae57aa","name":"Unlock wiket","server":"b4fc3608.34f618","version":3,"debugenabled":false,"service":"unlock","entityId":"lock.wicket","data":"","dataType":"json","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","service_domain":"lock","mergecontext":"","x":410,"y":380,"wires":[[]]},{"id":"73fed6d9b18d6585","type":"api-call-service","z":"fd0da101d6ae57aa","name":"Andrii at the door","server":"b4fc3608.34f618","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.doorbell_andrii"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":430,"y":440,"wires":[[]]},{"id":"dd297456a686f6d8","type":"api-call-service","z":"fd0da101d6ae57aa","name":"Ira at the door","server":"b4fc3608.34f618","version":3,"debugenabled":false,"service":"turn_on","entityId":"input_boolean.doorbell_ira","data":"","dataType":"json","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","service_domain":"input_boolean","mergecontext":"","x":420,"y":500,"wires":[[]]},{"id":"e2802bb0578e0567","type":"api-call-service","z":"fd0da101d6ae57aa","name":"Misha at the door","server":"b4fc3608.34f618","version":3,"debugenabled":false,"service":"turn_on","entityId":"input_boolean.doorbell_misha","data":"","dataType":"json","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","service_domain":"input_boolean","mergecontext":"","x":670,"y":440,"wires":[[]]},{"id":"2db862eb8c8bcd5b","type":"api-call-service","z":"fd0da101d6ae57aa","name":"Dima at the door","server":"b4fc3608.34f618","version":3,"debugenabled":false,"service":"turn_on","entityId":"input_boolean.doorbell_dima","data":"","dataType":"json","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","service_domain":"input_boolean","mergecontext":"","x":670,"y":500,"wires":[[]]},{"id":"71f13115040ea88e","type":"image","z":"fd0da101d6ae57aa","name":"","width":"200","data":"doorbell.content","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":500,"y":40,"wires":[]},{"id":"8096034b6d543514","type":"image","z":"fd0da101d6ae57aa","name":"","width":"200","data":"doorbell.content","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":740,"y":40,"wires":[]},{"id":"3902b924fc91f020","type":"jimp-image","z":"fd0da101d6ae57aa","name":"","data":"doorbell.content","dataType":"msg","ret":"buf","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":385,"y":275,"wires":[["512d65cc7eed6582","8096034b6d543514"]]},{"id":"b4fc3608.34f618","type":"server","name":"Hassio","version":1,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true}]